@font-face {
  font-family: "viticon"; /* Project id 2526691 */
  src: url('iconfont.woff2?t=1630747309890') format('woff2'),
       url('iconfont.woff?t=1630747309890') format('woff'),
       url('iconfont.ttf?t=1630747309890') format('truetype');
}

.viticon {
  font-family: "viticon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vit-icon-bofang:before {
  content: "\e6ac";
}

.vit-icon-youxiang:before {
  content: "\e6a9";
}

.vit-icon-shenfenzheng:before {
  content: "\e6aa";
}

.vit-icon-yingyezhizhao:before {
  content: "\e6ab";
}

.vit-icon-houtui:before {
  content: "\e646";
}

.vit-icon-qianjin:before {
  content: "\e6a8";
}

.vit-icon-kuaijin:before {
  content: "\e64e";
}

.vit-icon-kuaitui:before {
  content: "\e696";
}

.vit-icon-jiafill:before {
  content: "\e6a4";
}

.vit-icon-anquan:before {
  content: "\e6a5";
}

.vit-icon-jia:before {
  content: "\e6a6";
}

.vit-icon-jia1:before {
  content: "\e6a7";
}

.vit-icon-qingli:before {
  content: "\e6a3";
}

.vit-icon-xiaoxifill:before {
  content: "\e684";
}

.vit-icon-huo:before {
  content: "\e685";
}

.vit-icon-fengge:before {
  content: "\e686";
}

.vit-icon-fenggefill:before {
  content: "\e687";
}

.vit-icon-xinfill:before {
  content: "\e688";
}

.vit-icon-yansefill:before {
  content: "\e689";
}

.vit-icon-jingyin:before {
  content: "\e68a";
}

.vit-icon-kefufill:before {
  content: "\e68b";
}

.vit-icon-zhuyefill:before {
  content: "\e68c";
}

.vit-icon-zhankai:before {
  content: "\e68d";
}

.vit-icon-dianxuan:before {
  content: "\e68e";
}

.vit-icon-quanping:before {
  content: "\e68f";
}

.vit-icon-yanse:before {
  content: "\e690";
}

.vit-icon-xiahuaxian:before {
  content: "\e691";
}

.vit-icon-diqiu:before {
  content: "\e692";
}

.vit-icon-gouwuche:before {
  content: "\e693";
}

.vit-icon-tuichuquanping:before {
  content: "\e694";
}

.vit-icon-jianqie:before {
  content: "\e695";
}

.vit-icon-xin:before {
  content: "\e697";
}

.vit-icon-gengduo:before {
  content: "\e698";
}

.vit-icon-zhuye:before {
  content: "\e699";
}

.vit-icon-guangbo:before {
  content: "\e69a";
}

.vit-icon-fangda:before {
  content: "\e69b";
}

.vit-icon-xiangji:before {
  content: "\e69c";
}

.vit-icon-shuaxin:before {
  content: "\e69d";
}

.vit-icon-xinxi:before {
  content: "\e69e";
}

.vit-icon-tuichu:before {
  content: "\e69f";
}

.vit-icon-jiangbei:before {
  content: "\e6a0";
}

.vit-icon-dian:before {
  content: "\e6a1";
}

.vit-icon-vip:before {
  content: "\e6a2";
}

.vit-icon-mima:before {
  content: "\e617";
}

.vit-icon-bangdingshouji:before {
  content: "\e618";
}

.vit-icon-erweima:before {
  content: "\e619";
}

.vit-icon-remen:before {
  content: "\e61a";
}

.vit-icon-huodong:before {
  content: "\e61b";
}

.vit-icon-jianpan:before {
  content: "\e61c";
}

.vit-icon-xunzhang:before {
  content: "\e61d";
}

.vit-icon-suiji:before {
  content: "\e61e";
}

.vit-icon-jiankong:before {
  content: "\e61f";
}

.vit-icon-guanbi:before {
  content: "\e620";
}

.vit-icon-yingxiao:before {
  content: "\e621";
}

.vit-icon-xiazai:before {
  content: "\e622";
}

.vit-icon-tuding:before {
  content: "\e623";
}

.vit-icon-anzhuo:before {
  content: "\e624";
}

.vit-icon-pinpairenzheng:before {
  content: "\e625";
}

.vit-icon-duanxin:before {
  content: "\e626";
}

.vit-icon-shangcheng:before {
  content: "\e627";
}

.vit-icon-shangchuantupian:before {
  content: "\e628";
}

.vit-icon-tupianliebiao:before {
  content: "\e629";
}

.vit-icon-chenggong:before {
  content: "\e62a";
}

.vit-icon-huiyuan:before {
  content: "\e62b";
}

.vit-icon-pdf:before {
  content: "\e62c";
}

.vit-icon-kuaidi:before {
  content: "\e62d";
}

.vit-icon-dingdan:before {
  content: "\e62e";
}

.vit-icon-biaoji:before {
  content: "\e62f";
}

.vit-icon-fenxiangweixin:before {
  content: "\e630";
}

.vit-icon-yulan:before {
  content: "\e631";
}

.vit-icon-jinrong:before {
  content: "\e632";
}

.vit-icon-tupian:before {
  content: "\e633";
}

.vit-icon-tishi2:before {
  content: "\e634";
}

.vit-icon-guanliyuan:before {
  content: "\e635";
}

.vit-icon-lvhangxiang:before {
  content: "\e636";
}

.vit-icon-fenxiangpengyouquan:before {
  content: "\e637";
}

.vit-icon-zuanshifill:before {
  content: "\e638";
}

.vit-icon-nan:before {
  content: "\e639";
}

.vit-icon-nv:before {
  content: "\e63a";
}

.vit-icon-fasong:before {
  content: "\e63b";
}

.vit-icon-dashangfill:before {
  content: "\e63c";
}

.vit-icon-bianji:before {
  content: "\e63d";
}

.vit-icon-dayinji:before {
  content: "\e63e";
}

.vit-icon-fuzhi:before {
  content: "\e63f";
}

.vit-icon-shezhi1:before {
  content: "\e640";
}

.vit-icon-chehui:before {
  content: "\e641";
}

.vit-icon-rili:before {
  content: "\e642";
}

.vit-icon-fenxiang:before {
  content: "\e643";
}

.vit-icon-fanchuan:before {
  content: "\e644";
}

.vit-icon-kaishi:before {
  content: "\e645";
}

.vit-icon-zuihouyigeshipin:before {
  content: "\e647";
}

.vit-icon-wenjianjia:before {
  content: "\e648";
}

.vit-icon-zhuomianfill:before {
  content: "\e649";
}

.vit-icon-ossziyuan:before {
  content: "\e64a";
}

.vit-icon-simka:before {
  content: "\e64b";
}

.vit-icon-shijian:before {
  content: "\e64c";
}

.vit-icon-yaoqingma:before {
  content: "\e64d";
}

.vit-icon-shangchuanfill:before {
  content: "\e64f";
}

.vit-icon-shandian:before {
  content: "\e650";
}

.vit-icon-tishi:before {
  content: "\e651";
}

.vit-icon-wushouquan:before {
  content: "\e652";
}

.vit-icon-zuanshi:before {
  content: "\e653";
}

.vit-icon-fenxiangQQ:before {
  content: "\e654";
}

.vit-icon-luxiang:before {
  content: "\e655";
}

.vit-icon-yun:before {
  content: "\e656";
}

.vit-icon-xieti:before {
  content: "\e657";
}

.vit-icon-suoxiao:before {
  content: "\e658";
}

.vit-icon-cuti:before {
  content: "\e659";
}

.vit-icon-yunfill:before {
  content: "\e65a";
}

.vit-icon-kefu:before {
  content: "\e65b";
}

.vit-icon-xiangjifill:before {
  content: "\e65c";
}

.vit-icon-tishi1:before {
  content: "\e65d";
}

.vit-icon-shanchu:before {
  content: "\e65e";
}

.vit-icon-fenxiangfill:before {
  content: "\e65f";
}

.vit-icon-jiangbeifill:before {
  content: "\e660";
}

.vit-icon-yinletingzhi:before {
  content: "\e661";
}

.vit-icon-tianjia:before {
  content: "\e662";
}

.vit-icon-jishu:before {
  content: "\e663";
}

.vit-icon-dashang:before {
  content: "\e664";
}

.vit-icon-luzhi:before {
  content: "\e665";
}

.vit-icon-saoyisao:before {
  content: "\e666";
}

.vit-icon-yinlian:before {
  content: "\e667";
}

.vit-icon-diyigeshipin:before {
  content: "\e668";
}

.vit-icon-sousuo:before {
  content: "\e669";
}

.vit-icon-daima:before {
  content: "\e66a";
}

.vit-icon-wifi:before {
  content: "\e66b";
}

.vit-icon-jingyinfill:before {
  content: "\e66c";
}

.vit-icon-zanting:before {
  content: "\e66d";
}

.vit-icon-zhuomian:before {
  content: "\e66e";
}

.vit-icon-huatongfill:before {
  content: "\e66f";
}

.vit-icon-shangchuan:before {
  content: "\e670";
}

.vit-icon-guangbofill:before {
  content: "\e671";
}

.vit-icon-jingyin1fill:before {
  content: "\e672";
}

.vit-icon-luxiangfill:before {
  content: "\e673";
}

.vit-icon-huatong:before {
  content: "\e674";
}

.vit-icon-xinxifill:before {
  content: "\e675";
}

.vit-icon-shoucangfill:before {
  content: "\e676";
}

.vit-icon-kefunvfill:before {
  content: "\e677";
}

.vit-icon-kuaidifill:before {
  content: "\e678";
}

.vit-icon-caidan:before {
  content: "\e679";
}

.vit-icon-shoucang:before {
  content: "\e67a";
}

.vit-icon-caidanfill:before {
  content: "\e67b";
}

.vit-icon-yinle:before {
  content: "\e67c";
}

.vit-icon-quxiaoshoucang:before {
  content: "\e67d";
}

.vit-icon-xiaoxi:before {
  content: "\e67e";
}

.vit-icon-kefunv:before {
  content: "\e67f";
}

.vit-icon-huofill:before {
  content: "\e680";
}

.vit-icon-shouqi:before {
  content: "\e681";
}

.vit-icon-zitiyanse:before {
  content: "\e682";
}

.vit-icon-jingyin1:before {
  content: "\e683";
}

.vit-icon-emoji:before {
  content: "\e612";
}

.vit-icon-dui:before {
  content: "\e613";
}

.vit-icon-dianzan:before {
  content: "\e614";
}

.vit-icon-cuo:before {
  content: "\e615";
}

.vit-icon-users:before {
  content: "\e616";
}

.vit-icon-pingguo:before {
  content: "\e611";
}

.vit-icon-github:before {
  content: "\e610";
}

.vit-icon-qiandaifill:before {
  content: "\e60e";
}

.vit-icon-qiandai:before {
  content: "\e60f";
}

.vit-icon-qianbaofill:before {
  content: "\e60c";
}

.vit-icon-qianbao:before {
  content: "\e60d";
}

.vit-icon-hongbao:before {
  content: "\e60b";
}

.vit-icon-shezhi:before {
  content: "\e60a";
}

.vit-icon-user:before {
  content: "\e609";
}

.vit-icon-userfill:before {
  content: "\e608";
}

.vit-icon-phone:before {
  content: "\e607";
}

.vit-icon-mobile:before {
  content: "\e606";
}

.vit-icon-phonefill:before {
  content: "\e605";
}

.vit-icon-qianfill:before {
  content: "\e604";
}

.vit-icon-qian:before {
  content: "\e603";
}

.vit-icon-weibo:before {
  content: "\e602";
}

.vit-icon-qq:before {
  content: "\e601";
}

.vit-icon-weixin:before {
  content: "\e600";
}

